#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export PYBUILD_SYSTEM=cmake
export PYBUILD_DISABLE=test
#export PYBUILD_DESTDIR_python2=debian/python-pyviennacl/
#export PYBUILD_DESTDIR_python3=debian/python3-pyviennacl/
#export PYBUILD_BEFORE_INSTALL=cmake -DDESTDIR={destdir}

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
